main .SubPage {
  padding: 0;
  margin: 0;
  margin: 100px auto;
  text-align: center;
}
main .SubPage .title_Content {
  position: relative;
}
main .SubPage .title_Content::after {
  position: absolute;
  content: "";
  width: 99%;
  bottom: -20px;
  left: 0;
  border: 1px solid #FAD1C2;
}
main .SubPage .SubPage_Element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
main .SubPage .SubPage_Element #tag {
  width: 80px;
  height: 50px;
}
main .SubPage .SubPage_Element .search {
  height: 50px;
}
main .SubPage .SubPage_Element .search input,
main .SubPage .SubPage_Element .search button {
  padding: 0;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #a5a5a5;
}
main .SubPage .SubPage_Element .search button {
  width: 80px;
  background-color: #FAD1C2;
}
main .SubPage .data {
  border: 1px solid rgb(255, 2, 2);
  width: 100%;
}
main .SubPage .data .col1 {
  width: 15%;
}
main .SubPage .data .col2 {
  width: 50%;
}
main .SubPage .data .col3 {
  width: 15%;
}
main .SubPage .data .col4 {
  width: 20%;
}
main .SubPage .data thead {
  background-color: #FAD1C2;
}
main .SubPage .data tr {
  position: relative;
}
main .SubPage .data tr th,
main .SubPage .data tr td {
  padding: 20px;
}
main .SubPage .data tr th {
  position: relative;
}
main .SubPage .data tr th::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
}
main .SubPage .data tr::after {
  position: absolute;
  content: "";
  border: 1px solid #FAD1C2;
  bottom: 0;
  left: 0;
  width: 99.5%;
}
main .SubPage .data .notification {
  background-color: #cc4646;
}
main .SubPage .page_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
}
main .SubPage .page_Box > a {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
main .SubPage .page_Box span {
  padding: 10px;
}
main .SubPage .page_Box ul {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .SubPage .page_Box ul li {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 10px;
}
main .SubPage .page_Box ul li.active {
  background-color: #FAD1C2;
}
@media (max-width: 800px) {
  main .SubPage {
    width: 90%;
    margin: auto !important;
    padding: 0 !important;
  }
  main .SubPage .data th:nth-child(3),
  main .SubPage .data td:nth-child(3) {
    display: none;
  }
  main .SubPage .data .col1 {
    width: 1%;
    border: 1px solid #000;
  }
  main .SubPage .data .col2 {
    width: 79%;
    border: 1px solid rgb(197, 78, 78);
  }
  main .SubPage .data .col3 {
    width: 20%;
    border: 1px solid rgb(24, 57, 202);
  }
}