$mainColor: #FAD1C2;
$hoverColor: #E06D5C;
$reservationColor: #FF9494;
$mainTextColor: #000000;
$subTextColor: #333333;
$border-radius: 20px;
$title_Content_Fs: 40px;
$siteTitle_FZ: 30px;
$siteSubTitle_FZ: 20px;
$subTitle_Fs: 15px;


* {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.inner {
  margin: auto;
  width: 400px;
}

.header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 150px;
  }

  .tap {

    display: flex;
    gap: 10px;
    height: 40px;
    width: 100%;


    a {
      position: relative;
      width: 100%;
      margin-right: 3px;

      &.active::after {
        position: absolute;
        content: "";
        bottom: -2px;
        left: 0;
        width: 100%;
        border: 1px solid rgb(238, 7, 7);

      }

      &:hover {
        color: $hoverColor;
      }
    }

    margin-bottom: 20px;
  }
}

.login_Menu {
  display: flex;
  flex-direction: column;
  display: none;

  .id,
  .password {
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid $mainColor;

     &::placeholder {
     padding: 10px; 
     }

    &:focus {
      border: 2px solid $hoverColor;
      outline: none;

      &::placeholder {
        color: transparent;
        /* 보이지 않게 할 수는 있음 */
      }
    }

  }

  .keepLoggedIn {
    margin-bottom: 10px;

    :hover {
      color: $hoverColor;
    }
  }

  .login_Btn {
    border: 2px solid $mainColor;

    button {
      background-color: $mainColor;
      width: 100%;
      border: none;
      height: 40px;

      &:hover {
        background-color: $hoverColor;
        border: 1px solid $hoverColor;
        color: white;
      }
    }
  }

  .service {
    display: flex;

    ul {
      display: flex;
      padding: 0;

      li {
        margin-right: 10px;
      }

      a:hover {
        color: $hoverColor;

      }
    }

  }

  .snsLogin {

    div {
      border: 1px solid $mainColor;
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px;
      padding: 1px;

      i {
        margin: 0 10px;
      }

      &:hover {
        background-color: $hoverColor;
        color: white;
      }
    }

    .sns {
      display: flex;
      align-items: center;
      margin-top: 10px;

      i {
        font-size: 30px;
        color: $mainTextColor;
      }
    }

    img {
      height: 80%;
      margin-right: 50px;
      margin-left: 10px;

    }
  }

  &.active {
    display: flex;
  }
}

.certification {
  border: 1px solid $mainColor;
  ;
  text-align: center;
  margin: 10px auto;
  display: none;

  p {
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid $mainColor;
  }

  .simple_Login {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    padding: 10px;

    .type {
      width: 120px;
      height: 120px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      img {
        width: 50%;
        height: 50%;
        margin-bottom: 20px;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }


    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $mainColor;
      bottom: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $mainColor;
      left: 50%;
    }
  }

}

.certification.active {
  display: block;
}

footer {
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid $reservationColor;
}